Camelot==12.6.29
docx==0.2.4
fitz==0.0.1.dev2
langchain==0.3.19
langchain_chroma==0.2.2
langchain_community==0.3.18
langchain_huggingface==0.1.2
langchain_ollama==0.2.3
pandas==2.2.3
pyTelegramBotAPI==4.26.0
python_docx==1.1.2
sentence_transformers==3.3.1
