camelot-py>=0.10.1
python-docx>=0.8.11
PyMuPDF>=1.22.3
langchain>=0.3.20
langchain-chroma>=0.1.2
langchain-community>=0.3.19
langchain-huggingface>=0.1.2
langchain-ollama>=0.1.0
pandas>=1.5.3
pyTelegramBotAPI>=4.12.0
sentence-transformers>=2.2.2
configparser>=5.3.0
telebot>=0.0.4
pypdf>=3.9.1
docx2txt>=0.8
unstructured>=0.6.7
config>=0.5.1
pi-heif>=0.21.0
unstructured_inference>=0.8.9
pdf2image>=1.17.0
pytesseract>=0.3.13
unstructured_pytesseract>=0.3.15
python-pptx
tabulate
